.body {
    background: #FEF4F5;
    width: 100%;
    height: auto;
}

.one {
    width: 100%;
    height: clamp(210px, 35vw, 560px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.one>img {
    border-radius: 300px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
    height: clamp(200px, 30vw, 477px);
}

.one .slogan {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: var(--space24);
}

.one .slogan img:first-child {
    height: clamp(30px, 6vw, 81px);
}

.one .slogan img:nth-child(2) {
    padding-bottom: clamp(15px, 4vw, 40px);
    height: clamp(100px, 20vw, 299px);
}

.one .slogan img:last-child {
    height: clamp(45px, 8vw, 115px);
}

.two {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(25px, 5vw, 78px);
}

.two_inner {
    width: clamp(320px, 50vw, 686px);
    padding: clamp(20px, 4vw, 40px) clamp(25px, 4vw, 40px);
    background: var(--bg-white);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 4vw, 40px);
}

.two_txt1 {
    font-family: var(--sokcho);
    font-size: clamp(20px, 3vw, 28px);
    line-height: 130%;
    /* 36.4px */
    letter-spacing: -0.84px;
}

.two_txt1 span {
    color: var(--main-mint);
}

.two_txt1 i {
    color: var(--point-deeppink);
}

/* bottom */
.bgbg {
    background: url(../../public/images/about/about_bg.png) center center/cover no-repeat;
    height: auto;
    width: 100%;
    position: relative;
}

.bgbg>img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    height: clamp(120px, 25vw, 324px);
    width: 100%;
}

.marquee {
    padding-top: clamp(70px, 14vw, 180px);
}

.mi {
    margin-right: var(--space16);
    height: clamp(23px, 5vw, 45px);
}

.scroll img {
    border-radius: 16px;
    margin-right: clamp(24px, 5vw, 48px);
    width: clamp(70px, 13vw, 120px);
}

.imgscroll {
    padding-top: clamp(30px, 10vw, 151px);
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 4vw, 60px);
}

@media (max-width: 375px) {
    .imgscroll .scroll:last-child {
        display: none;
    }
}