.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 20px;
}

.wrapper {
  padding: 40px 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px;
}

.filterButton {
  padding: 6px 12px;
  font-size: 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: #5c7aea;
  transition: background-color 0.2s ease;
}

.filterButton.active {
  background-color: #aaa;
}

.list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #eee;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}
/* 이거 갭 나중에 수정해야됨 일단 임시로 넣었습니다 (gap빼고 card에 margin값으로 변경 할꺼) -종현- */
.goodgoodspick {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 20px 0;
}



/* header 제외 mgt 수정-종현- */
/* home 섹션들 css수정 Home.tsx 참고 */
.pageContent{
  margin-top: 40px;
}
.mainThumb {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 7; /* or your own ratio */
  border-radius: 30px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}
.mainThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  display: block;
}
.goodgoodspick{
  display: flex;
  justify-content: flex-start;
}
.goodgoodspicktxt{
  font-family: var(--sokcho);
  font-size: 2rem;
  margin-top: 80px;
  margin-bottom: 40px;
}
.goodgoodspicktxt span{
  color: var(--main-mint);
}



/* swiper pignation */

/* swiper pagination 위치 조정 */
.mainThumb {
position: relative;
padding:0 clamp(16px,4vw,78px)
}

:global(.swiper-pagination) {

}

/* 각 불릿(점) */
:global(.swiper-pagination .swiper-pagination-bullet) {
  background-color: var(--sub-lightmint);
  opacity: 0.6;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* 활성화된 불릿 */
:global(.swiper-pagination .swiper-pagination-bullet-active) {
  background-color: var(--main-mint);
  opacity: 1;
}


@media (max-width: 500px) {
  .pageContent{
    margin-top: 10%;
  }
  .mainThumb {
    position: relative;
    padding-bottom: 0;
    width: 100%;
    height: 80vw;
    margin-bottom: 40px;
  }
  .mainThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  display: block;
  }
}