.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 20px;
}

.wrapper {
  padding: 40px 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 10px;
}

.filterButton {
  padding: 6px 12px;
  font-size: 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: #5c7aea;
  transition: background-color 0.2s ease;
}

.filterButton.active {
  background-color: #aaa;
}

.list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #eee;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

/* 이거 갭 나중에 수정해야됨 일단 임시로 넣었습니다 (gap빼고 card에 margin값으로 변경 할꺼) -종현- */
.goodgoodspick {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3%;
}



/* header 제외 mgt 수정-종현- */
/* home 섹션들 css수정 Home.tsx 참고 */
.pageContent {
  margin-top: 40px;
}

.mainThumb {
  width: 100%;
  max-width: 100%;
  height: auto;
  /*   aspect-ratio: 16 / 7; */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
  padding: 0 var(--padding);
  position: relative;
  /* background: #ccc; */
}

.mainThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  display: block;
}

.goodgoodspick {
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--padding);
}

.goodgoodspicktxt {
  font-family: var(--sokcho);
  font-size: 2rem;
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 0 var(--padding);
}

.goodgoodspicktxt span {
  color: var(--main-mint);
}

/* swiper pagination 위치 조정 */
:global(.swiper-pagination) {
  position: static;
  margin: var(--space16) auto 0 auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

/* 각 불릿(점) */
:global(.swiper-pagination .swiper-pagination-bullet) {
  background-color: var(--sub-lightmint);
  opacity: 0.6;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  width: 10px;
  height: 10px;
  margin: 0 4px;
}

/* 활성화된 불릿 */
:global(.swiper-pagination .swiper-pagination-bullet-active) {
  background-color: var(--main-mint);
  opacity: 1;
}


@media (max-width: 500px) {
  .pageContent {
    margin-top: 10%;
  }

  .mainThumb {
    position: relative;
    padding-bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .mainThumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    display: block;
  }

  :global(.swiper-pagination) {
    position: static;
    margin: var(--space16) auto 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
}