
.chatContents{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 112px;
    background: var(--fields-form);

}

.chat{
    width: 100%;
    height: 100%;
    
}

