.con {
    padding: var(--space16) var(--padding);
}

.titlecon {
    display: flex;
    flex-direction: column;
}

.categories {
    display: inline-block;
    padding: clamp(4px, 1vw, 6px) clamp(6px, 1.5vw, 9px);
    background: var(--bg-lightE);
    border-radius: 9px;
    color: var(--text-grey);
    margin-bottom: var(--space16);
    width: fit-content;
    font-size: var(--font-caption);
    font-weight: 400;
    line-height: 125%;
}

.bottomaria {
    padding: var(--space8) 0;
    border-bottom: 1px solid var(--stroke-lightE);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profilearia {
    display: flex;
    flex-direction: column;
    gap: var(--space8);
}

.profile {
    display: flex;
    align-items: center;
    gap: var(--space8);
}

.userimg {
    border-radius: 50%;
    width: clamp(32px, 2vw, 40px);
}

.bottomprofile {
    display: flex;
    color: var(--text-grey);
    gap: var(--space16);
    font-size: var(--font-caption);
    font-weight: 400;
    line-height: 125%;
}

.icontext{
    display: flex;
    gap: var(--space4);
}

.more{
    cursor: pointer;
    width: var(--icon-size);
    height: auto;
    aspect-ratio: 1/1;
}

.articlecon{
    display: flex;
    flex-direction: column;
    padding-top: var(--space16);
}

.articleimg{
    width: 50%;
    height: auto;
}