.con {
    margin: 0 auto;
    max-width: 1000px;
    padding: var(--space16) var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--space8);
}

.titlecon {
    display: flex;
    flex-direction: column;
}

.categories {
    display: inline-block;
    padding: clamp(4px, 1vw, 6px) clamp(6px, 1.5vw, 9px);
    background: var(--bg-lightE);
    border-radius: 9px;
    color: var(--text-grey);
    margin-bottom: var(--space16);
    width: fit-content;
    font-size: var(--font-caption);
    font-weight: 400;
    line-height: 125%;
}

.bottomaria {
    padding: var(--space8) 0;
    border-bottom: 1px solid var(--stroke-lightE);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profilearia {
    display: flex;
    flex-direction: column;
    gap: var(--space8);
}

.profile {
    display: flex;
    align-items: center;
    gap: var(--space8);
}

.userimg {
    border-radius: 50%;
    width: clamp(32px, 2vw, 40px);
}

.bottomprofile {
    display: flex;
    color: var(--text-grey);
    gap: var(--space16);
    font-size: var(--font-caption);
    font-weight: 400;
    line-height: 125%;
}

.icontext {
    display: flex;
    gap: var(--space4);
}

.more {
    cursor: pointer;
    width: var(--icon-size);
    height: auto;
    aspect-ratio: 1/1;
}

.articlecon {
    display: flex;
    flex-direction: column;
    padding-top: var(--space16);
}

.articleimg {
    width: 100%;
    height: auto;
    margin-bottom: var(--space16);
}

.tags {
    display: flex;
    font-size: var(--font-button);
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: var(--text-grey);
    gap: var(--space16);
    margin-top: var(--space16);
}

.liketn {
    margin-top: var(--space16);
    width: fit-content;
    display: flex;
    gap: var(--space4);
    align-items: center;
    padding: var(--space8) var(--space16);
    border-radius: 100px;
    background: var(--bg-lightE);
    font-size: var(--font-button);
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: var(--text-grey);
    transition: background 0.2s, color 0.2s;
}

.likedon {
    margin-top: var(--space16);
    width: fit-content;
    display: flex;
    gap: var(--space4);
    align-items: center;
    padding: var(--space8) var(--space16);
    border-radius: 100px;
    background: var(--main-mint);
    font-size: var(--font-button);
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: var(--text-white);
}

.commentcon {
    padding: var(--space32) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space16);
}

.inputcon {
    display: flex;
    gap: var(--space8);
    margin-bottom: var(--space16);
}
.commentlist{
    display: flex;
    flex-direction: column;
    gap: var(--space16);
}
.commentitem {
    display: flex;
    flex-direction: column;
}

.cUser {
    display: flex;
    align-items: center;
    gap: var(--space8);
    margin-bottom: var(--space4);
}

.cUserimg {
    border-radius: 50%;
    border: 1px solid var(--stroke-lightE);
    width: clamp(32px, 2vw, 40px);
    height: auto;
    aspect-ratio: 1/1;
}

.commentin {
    padding: 0 clamp(32px, 2vw, 40px);
}

.commentbottom {
    margin-top: var(--space8);
    font-size: var(--font-caption);
    font-weight: 400;
    line-height: 125%;
    color: var(--text-grey);
    gap: var(--space16);
    display: flex;
}

.cIcontext{
    display: flex;
    gap: var(--space4);
    align-items: center;
    cursor: pointer;
}
.cIcontexton{
    color: var(--main-mint);
}