.filterContainer {
    display: flex;
    gap: 8px;
    background: var(--bg-lightE);
    padding: 12px 16px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /* iOS 부드러운 스크롤 */
    margin-top:  clamp(60px, 6vw, 103px);
}


.filterContainer::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}


.filterButton {
    border: 1px solid var(--bg-gray);
    background: var(--bg-white);
    padding: clamp(6px, 6vw, 9px) clamp(16px, 6vw, 24px);
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    transition: all 0.2s ease;
    flex: 0 0 auto;
    border-radius: 8px;
    font-family: 'Pretendard', sans-serif;
    font-size: var( --font-button);
    color: var(--text-grey);
}

.active {
    font-weight: bold;
    background: var(--button-bgdefault);
    border: 1px solid #1DC6A7;
    color: var(--text-white);
}