/* .form {
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  padding: 20px 20px 60px;
  border: 1px solid #d6dfff;
  margin-top: 40px;
  border-radius: 1.2rem;
} */

/* 정렬 */
.form {
  display: flex;
  flex-direction: column;
  padding: var(--space56) var(--padding);
  gap: 50px;
}

/* input */
.input {
  flex: 1 1 auto;
  min-width: 0;
  padding: clamp(14px, 2vh, 16px) clamp(16px, 2vw, 20px);
  border-radius: 8px;
  border: 1px solid var(--fields-form);
  background: var(--fields-form);
  font-family: var(--pre);
  font-size: var(--font-body1);
  color: var(--fields-text);
  font-weight: 400;
  line-height: 160%;
}

.input::placeholder {
  color: var(--text-grey);
}

.input:hover {
  border: 1px solid var(--fields-strokehover);
}

.input:focus {
  outline: none;
  border: 1px solid var(--stroke-focused);
}

.input:disabled {
  background-color: var(--fields-disabled);
  color: var(--fields-textdisabled);
  border: 1px solid var(--fields-disabled);
}

.input.errpr {
  background: var(--fields-bgerror);
  border: 1px solid var(--fields-strokeerror);
}

/* 인풋 하단 설명글 묶음 */
.inputdiscription {
  display: flex;
  align-items: center;
  gap: var(--space4);
}

.discriptionbullet {
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: var(--main-mint);
}

.discriptionbullet.error {
  background-color: var(--text-error);
}

.discriptiontext {
  font-size: var(--font-caption);
  font-weight: 400;
  line-height: 125%;
  color: var(--main-mint);
}

.discriptiontext.error {
  color: var(--text-error);
}



.textarea {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  font-family: var(--pre), sans-serif;
  overflow-y: auto;
  padding: clamp(14px, 2vh, 16px) clamp(16px, 2vw, 20px);
  border-radius: 8px;
  border: 1px solid var(--fields-form);
  background: var(--fields-form);
  font-family: var(--pre);
  font-size: var(--font-body1);
  color: var(--fields-text);
  font-weight: 400;
  line-height: 160%;
  box-sizing: border-box;
}

/* button */
/* 디폴트 버튼 */
.button_big {
  font-size: var(--font-button);
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.03em;
  width: 100%;
  padding: clamp(12px, 2vh, 14px) 0;
  background-color: var(--button-bgdefault);
  color: var(--button-textdefault);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
}

.button_big:hover {
  background-color: var(--button-bghover);
}

.button_big:disabled {
  background-color: var(--button-bgdisabled);
  color: var(--button-textdisabled);
  cursor: not-allowed;
}

.button_big:active {
  background-color: var(--button-bgactive);
}

.btn_icon {
  position: absolute;
  top: 50%;
  left: var(--space16);
  transform: translateY(-50%);
}

/* big 사이즈이되 width값 다른버전 */
.button_big.width30 {
  width: 30%;
}

.button_big.width40 {
  width: 40%;
}



/* 작은 버튼 */

.button_sm {
  font-size: var(--font-button);
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.03em;
  width: 100%;
  padding: clamp(6px, 2vh, 8px) 0;
  background-color: var(--button-bgdefault);
  color: var(--button-textdefault);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
}

/* sm사이즈이되 width값 다른버전 */
.button_sm.width30 {
  width: 30%;
}

.button_sm.width40 {
  width: 40%;
}

.button_sm:hover {
  background-color: var(--button-bghover);
}

.button_sm:disabled {
  background-color: var(--button-bgdisabled);
  color: var(--button-textdisabled);
  cursor: not-allowed;
}

.button_sm:active {
  background-color: var(--button-bgactive);
}

.btn_icon {
  position: absolute;
  top: 50%;
  left: var(--space16);
  transform: translateY(-50%);
}


/* 이미지 input 수정 */
.imgflex {
  display: flex;
  gap: 17px;
}

.imguploadlabel {
  width: 133px;
  height: 133px;
  background-color: #EFEFEF;
  cursor: pointer;
  border-radius: 9px;
  background-image: url(../../public/images/icon/camera.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-block;
}

.counter {
  position: absolute;
  bottom: 6px;
  right: 10px;
  color: #555;
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 1rem;
}

.imgupload {
  display: none;
}

.previewWrapper {
  position: relative;
  display: inline-block;
}

.previewImage {
  width: 133px;
  height: 133px;
  border-radius: 9px;
  border: 1px solid var(--main-mint);
}

.closeButton {
  position: absolute;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  right: 2px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 100%;
  cursor: pointer;
  z-index: 1;
  transition: background 0.3s ease;
}

.closeButton:hover {
  background: #e6e6e6;
  color: white;
}

/* 모든 기본 css */
.all {
  display: flex;
  gap: 17px;
}

.all p {
  width: 133px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
  border-radius: 9px;
  color: #555;
}

/* 상품명 */

.productname input {
  width: 85%;
  border: none;
  border-bottom: 1px solid #efefef;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  color: #555;
  font-family: "Pretendard Variable";
}

.productname input::placeholder {
  font-size: 1.2rem;
}

.productname input:focus {
  font-size: 1.2rem;
  /* 텍스트 크기 변경 */
  outline: none;
  border-bottom: 1px solid #7e7e7e;

}

.productname input:focus::placeholder {
  opacity: 0;
}

/* 카테고리 */

.customDropdown {
  position: relative;
  width: 85%;
  height: 66px;
}

.dropdownToggle {
  all: unset;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #efefef;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #555;
}

.dropdownToggle:focus {
  border-bottom: 1px solid #7e7e7e;
}

.arrow {
  margin-left: 10px;
}

.dropdownMenu {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  background: white;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  color: #8a8a8a;
  border: 2px solid #efefef;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--sub-lightmint);
  color: #fff;
}

.selected {
  background-color: var(--sub-lightmint);
  color: #fff;
}

.arrowIcon {
  width: 20px;
  height: 20px;
  background-image: url(../../public/images/icon/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
}

/* 판매가 */
.sell {
  position: relative;
}

.sell input {
  width: 100%;
  height: 66px;
  font-size: 1.2rem;
  color: #555;
  transition: all 0.3s ease;
}

.sell input {
  border: none;
  border-bottom: 1px solid #efefef;
}

.sell input::placeholder {
  font-family: "Pretendard Variable";
}

.sell input:focus {
  outline: none;
  color: var(--main-black);
  border-bottom: 1px solid #7e7e7e;

}

.sell input:focus::placeholder {
  opacity: 0;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-size: 1.2rem;
  color: #999;
  gap: 4px;
}

.checkboxLabel input {
  width: 30px;
  height: auto;
}

/* 기본 체크박스 숨기기 */
.checkboxInput {
  display: none;
}

/* 커스텀 박스 */
.customCheckbox {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #dfdfdf;
  position: relative;
  flex-shrink: 0;
  transition: background 0.2s ease;
  cursor: pointer;
}

/* 체크 마크 항상 표시 */
.customCheckbox::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  /* 기본 체크 색상 */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: border-color 0.2s ease;
}

/* 체크됐을 때 배경색 + 체크 마크 색상 변경 */
.checkboxInput:checked+.customCheckbox {
  background-color: var(--main-mint);
}

.checkboxInput:checked+.customCheckbox::after {
  border-color: white;
}

.negotiableText {
  font-family: "Pretendard Variable";
}


.warningText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.pricelimit {
  width: 85%;
  height: 66px;
}


/* 거래 옵션 */
.popuparea {
  width: 85%;
  position: relative;
}

.dealoption button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  color: #555;
}

.options {
  display: flex;
  flex-direction: column;
}

.position {
  position: relative;

}

.popup {
  padding: 24px 16px;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #efefef;
}

.popup h4 {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.popup h4.txtmgt {
  margin-top: 32px;
}

.popup label {
  margin-top: 1%;
}

input.directPlaceInput {
  display: flex;
  width: calc(100% - 10px);
  height: 48px;
  border: none;
  background-color: #F4F4F4;
  border-radius: 8px;
  font-family: "Pretendard Variable";
}

input.directPlaceInput::placeholder {
  font-size: 0.9rem;
  padding: 8px;
  font-family: "Pretendard Variable";

}

input.directPlaceInput:focus {
  font-size: 0.9rem;
  padding: 8px;
  outline: none;
  font-family: "Pretendard Variable";


}

input.directPlaceInput:focus::placeholder {
  opacity: 0;
  font-size: 0.9rem;
  font-family: "Pretendard Variable";

}

.popup button {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  border: none;
  background-color: var(--main-mint);
  height: 44px;
  color: #fff;
  border-radius: 8px;
}

/* 굿즈 설명 글 */
.goodstxt {
  width: 100%;
  height: 522px;
}

.goodstxt textarea {
  width: 100%;
  height: 522px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 30px;
  line-height: 3;
  font-family: "Pretendard Variable";
  font-size: 1.1rem;
  padding: 48px;

}

.goodstxt textarea::placeholder {
  font-size: 1.1rem;
  color: #B6B6B6;
  white-space: pre-line;
  font-family: "Pretendard Variable";
  font-weight: 300;
  line-height: 3;
}

.goodstxt textarea:focus {
  outline: none;
  font-size: 1.1rem;
}

.goodstxt textarea:focus::placeholder {
  opacity: 0;
}

/* 등록 버튼 */

button.upload {
  all: unset;
  /* 버튼 기본 스타일 모두 제거 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background-color: var(--main-mint);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

button.upload:hover {
  background-color: var(--sub-lightmint);
}

@media (max-width: 430px) {
  .form {
    gap: 24px;
    padding: 32px 16px;
  }

  .imguploadlabel {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-size: 40px;
  }

  .previewImage {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-size: 40px;
  }

  .counter {
    padding: 0;
    font-size: 14px;
  }

  .all {
    gap: 10px;
  }

  .all p {
    width: 120px;
    height: 60px;
    border-radius: 6px;
  }

  /* 상품명 */
  .productname input::placeholder {
    font-size: 1rem;
  }

  .productname input:focus {
    font-size: 1rem;
  }

  /* 카테고리 */
  .customDropdown {
    height: 60px;
  }

  .dropdownToggle {
    font-size: 1rem;
  }

  /* 판매가 */
  .sell input {
    height: 60px;
    font-size: 1rem;
  }

  .checkboxLabel {
    font-size: 1rem;
  }

  .customCheckbox {
    width: 24px;
    height: 24px;
  }

  .customCheckbox::after {
    left: 9px;
    top: 5px;
    width: 4px;
    height: 9px;
  }

  /* 거래 옵션 */

  /* 굿즈 설명 글 */
  .goodstxt {
    height: 304px;
  }

  .goodstxt textarea {
    height: 304px;
    border-radius: 6px;
    line-height: 1.25;
    font-size: 1rem;
    padding: 16px;

  }

  .goodstxt textarea::placeholder {
    line-height: 1.25;
    font-size: 1rem;
  }

  .goodstxt textarea:focus {
    line-height: 1.25;
    font-size: 1rem;
  }
}