/* .form {
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  padding: 20px 20px 60px;
  border: 1px solid #d6dfff;
  margin-top: 40px;
  border-radius: 1.2rem;
} */

/* 정렬 */
.form{
  display: flex;
  flex-direction: column;
}

/* input */
.input {
  width: 100%;
  padding: clamp(14px, 2vh, 16px) clamp(16px, 2vw, 20px);
  border-radius: 8px;
  border: 1px solid var(--fields-form);
  background: var(--fields-form);
  font-family: var(--pre);
  font-size: var(--font-body1);
  color: var(--fields-text);
  font-weight: 400;
  line-height: 160%;
}

.input::placeholder {
  color: var(--fields-discription);
}

.input:hover {
  border: 1px solid var(--fields-strokehover);
}

.input:focus {
  outline: none;
  border: 1px solid var(--stroke-focused);
}

.input:disabled {
  background-color: var(--fields-disabled);
  color: var(--fields-textdisabled);
  border: 1px solid var(--fields-disabled);
}
.input.errpr{
  background: var(--fields-bgerror);
  border: 1px solid var(--fields-strokeerror);
}
/* 인풋 하단 설명글 묶음 */
.inputdiscription {
  display: flex;
  align-items: center;
  gap: var(--space4);
}

.discriptionbullet {
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: var(--main-mint);
}
.discriptionbullet.error{
  background-color: var(--text-error);
}
.discriptiontext {
  font-size: var(--font-caption);
  font-weight: 400;
  line-height: 125%;
  color: var(--main-mint);
}
.discriptiontext.error{
  color: var(--text-error);
}
.textarea {
  width: 100%;
  padding: clamp(14px, 2vh, 16px) clamp(16px, 2vw, 20px);
  border-radius: 8px;
  border: 1px solid var(--fields-form);
  background: var(--fields-form);
  font-family: var(--pre);
  font-size: var(--font-body1);
  color: var(--fields-text);
  font-weight: 400;
  line-height: 160%;
}

/* button */
/* 디폴트 버튼 */
.button_big {
  font-size: var(--font-button);
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.03em;
  width: 100%;
  padding: clamp(12px, 2vh, 14px) 0;
  background-color: var(--button-bgdefault);
  color: var(--button-textdefault);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
}

.button_big:hover {
  background-color: var(--button-bghover);
}

.button_big:disabled {
  background-color: var(--button-bgdisabled);
  color: var(--button-textdisabled);
  cursor: not-allowed;
}

.button_big:active {
  background-color: var(--button-active);
}

.btn_icon{
  position: absolute;
  top: 50%;
  left: var(--space16);
  transform: translateY(-50%);
}



/* 작은 버튼 */

.button_sm {
  font-size: var(--font-button);
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.03em;
  width: 100%;
  padding: clamp(6px, 2vh, 8px) 0;
  background-color: var(--button-bgdefault);
  color: var(--button-textdefault);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
}


.button_sm:hover {
  background-color: var(--button-bghover);
}

.button_sm:disabled {
  background-color: var(--button-bgdisabled);
  color: var(--button-textdisabled);
  cursor: not-allowed;
}

.button_sm:active {
  background-color: var(--button-active);
}

.btn_icon{
  position: absolute;
  top: 50%;
  left: var(--space16);
  transform: translateY(-50%);
}

/* 이미지 input 수정 */
.imguploadlabel{
  width: 133px;
  height: 133px;
  background-color: #EFEFEF;
  cursor: pointer;
  border-radius: 9px;
}
.imgupload{
opacity: 0;
}