.mycommuwrap{
    display: flex;
    flex-direction: column;
    gap: var(--space4);
    background: var(--bg-lightE);
}

.profilewrap{
    background: var(--bg-white);
    padding: var(--space16)  var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--space16);
}

.profile{
    display: flex;
    align-items: center;
    gap: var(--space8);
}

.profileimg{
    width: clamp(40px,10vw,60px);
    height: auto;
    aspect-ratio: 1/1;
}

.count{
    display: flex;
    padding: var(--space16) var(--space16);
    background: var(--bg-lightE);
    border-radius: 8px;
    gap: var(--space56);
    justify-content: space-evenly;
    align-items: center;
}

.counts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space4);
}

