.profile {
    padding: var(--space16) var(--padding);
    display: flex;
    gap: var(--space16);
    align-items: center;
    justify-content: space-between;
}

.profileImage {
    width: clamp(91px, 12vw, 150px);
}

.right {
    width: clamp(230px, 25vw, 500px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space24);
}

.title {
    font-size: var(--font-subtit1);
    padding: var(--space16) 0;
    font-family: var(--sokcho);
}

.section {
    padding: var(--space16) var(--padding);
}

.bottom {
    padding: var(--space16) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space16);
    align-items: center;
}

.profilesetting_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--space40);
    /* 임시 */
}

.profilesetting {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilesetting>img {
    border-radius: 130px;
    width: clamp(130px, 15vw, 179px);
}

.edit {
    background: var(--main-mint);
    padding: clamp(8px, 2vw, 13px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 130px;
    cursor: pointer;
}

.edit>img {
    width: clamp(18px, 1.5vw, 24px);
}

.profilesetting_bottom {
    display: flex;
    justify-content: center;
}

.pbw {
    display: flex;
    flex-direction: column;
    gap: var(--space8);
}