.recommend {
    display: flex;
    gap: clamp(2px, 1vw, 10px);
    flex-wrap: wrap;
}

.goodsCategory {
    padding-bottom: var(--space16);
}

.recommend_wrap {
    display: flex;
    flex-direction: column;
    gap: clamp(2px, 1vw, 10px);
}