.reviewInfo {
    width: 100%;
    padding: 24px clamp(16px, 3vw, 78px);
    display: flex;
    gap: 10px;
    align-items: center;
    background: var(--bg-white);

}

.reviewImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    flex: 0 0 auto;
}

.reviewInfoTxt {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    justify-content: start;
    flex-direction: column;
}

.reviewInfoTitle {
    font-size: var(--font-subtit2);

}

.reviewInfoTime {
    color: var(--text-grey);
}

.line {
    width: 100%;
    height: 4px;
    background: var(--bg-lightE);
}

.reviewUpload {
    width: 100%;
    padding: 24px clamp(16px, 3vw, 78px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviewTag {
    width: 100%;
    padding: 0 clamp(8px, 3vw, 78px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.reviewTagList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reviewtagListTop {
    display: flex;
}

.reviewTagListBottom {
    display: flex;

}

.reveiwWrite {
    width: 100%;
    padding: 24px clamp(16px, 3vw, 78px);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.inputLength {
    color: var(--text-lightgrey);
    text-align: end;
}
.reviewDescription{
    margin-bottom: 24px;
}

.reviewDescriptionTitle {
    color: var(--text-lightgrey);
    margin-bottom: 16px;
}

.reviewDescriptionBody {
    color: var(--text-lightgrey);

}

.submitWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload{
    width: 70%;
    height: clamp(42px, 3vw, 56px) ;
    padding: 12px 24px;
    background: var(  --button-bgdefault);
    font-size: var(--font-button);
    border-radius: 8px;
    color: var(--bg-white);
    flex: 0 0 auto;

}

.upload:hover{
    background: var( --button-bghover);
}


