.chatInfo {
    position: fixed;
    top: clamp(60px, 5vw, 103px);
    width: clamp(375px, 100vw, 1200px);
    height: auto;
    background: var(--bg-white);
    padding: 24px clamp(16px, 3vw, 78px);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.thumb {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 6px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.top {
    display: flex;
    gap: 8px;
}

.info_right {
    display: flex;
    gap: 16px;
    align-items: center;
}



.status {
    position: relative;

}

.statusBtn {
    width: 86px;
    height: 30px;
    /* background: var(  --fields-form); */
    border: 1px solid var(--stroke-lightE);
    border-radius: 8px;
    font-weight: 600;
    font-size: var(--font-h5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {}

.chatSelect {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    background: var(--bg-white);
    border: 1px solid var(--stroke-lightgrey);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    z-index: 20;
    margin: 0;
    padding: 0;
    font-size: var(--font-h5);
    border-radius: 8px;
    overflow: hidden;
}

.statusOption {
    padding: 6px;
    cursor: pointer;
    background: var(--bg-white);
    font-weight: 500;

}

.selected {
    font-weight: 700;
}




.pink {
    color: var(--point-deeppink);
}

.gray {
    color: var(--text-grey);
}

.subtitle{
    color: var(--point-deeppink);
    font-size: var(--font-caption);
    font-weight: 600;
}

.title {
    font-size: var(--font-caption);
    color: var(--text-grey);
    white-space: nowrap;
}

.price {
    font-size: var(--font-h4);
    font-weight: 600;
}

.time {
    font-size: var(--font-caption);
    color: var(--text-lightgrey);
}