.chatInfo {
    width: 100%;
    height: auto;
    background: var(--bg-white);
    padding: 24px clamp(16px, 4vw, 78px);
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8); */
}

.thumb {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 6px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.top {
    display: flex;
    gap: 8px;
}

.info_right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.chatSelect {
    width: 80px;
    height: 30px;
    border: none;
    font-size: var(--font-h5);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("/public/images/chat/chevron-left.svg") no-repeat right 8px center/16px 16px;
    font-weight: 600;
    padding: 0 4px;
    border-radius: 4px;
}

.chatSelect:focus {
    border: 1px solid var(--point-deeppink);
     outline: none;
}


.pink {
    color: var(--point-deeppink);
}

.gray {
    color: var(--text-grey);
}

.title{
    font-size: var(--font-caption);
     color: var(--text-grey);
    white-space: nowrap;
}

.price{
    font-size: var(--font-h4);
    font-weight: 600;
}

.time{
     font-size: var(--font-caption);
     color: var(--text-lightgrey);
}