.card {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.link {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: inherit;
    padding: 16px 0;
    gap: clamp(6px, 1vw, 9px);
    flex-shrink: 0;
    border-bottom: 1px solid var(--stroke-lightE);
    background: var(--bg-white);
}

.cardLeft {
    flex: 1 0 0 auto;
    width: 100%;
    height: auto;
}

.categoryBox {
    display: inline-block;
    padding: clamp(4px, 1vw, 6px) clamp(6px, 1.5vw, 9px);
    background: var(--bg-lightE);
    border-radius: 9px;
    color: var(--text-grey);
    margin-bottom: clamp(6px, 1.5vw, 12px);

}

.title {
    margin-bottom: clamp(6px, 1.5vw, 12px);
    font-size: var(--font-h3);
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.03em;
}

.userName {
    font-size: clamp(14px, 2vw, 20px);
    line-height: 125%;
    font-weight: 500;
    margin-bottom: clamp(4px, 0.5vw, 9px);
    color: var(--text-lightgrey);

}

.underline {
    display: flex;
    gap: clamp(10px, 2vw, 15px);
}

.commuRate {
    display: flex;
    align-items: center;
    gap: clamp(6px, 1vw, 9px);

}

.commuListIcon {
    width: clamp(14px, 2vw, 18px);
    height: clamp(14px, 2vw, 18px);
}

.image {
    width: clamp(100px, 20vw, 146px);
    height: clamp(100px, 20vw, 146px);
    border-radius: 8px;
    object-fit: cover;
}

.commuRateText {
    font-size: clamp(14px, 2vw, 18px);
    color: var(--text-lightgrey);
    line-height: 125%;

}

/*  @media (max-width: 375px) {
   .userName{
  font-size: var(--font-h5);

} 
} */



@media (max-width: 1200px) {
    /*   .card{
        padding: 0 320px;
    } */
}

/* mycommuItem */

.categoryBoxColor {
    display: inline-block;
    padding: clamp(4px, 1vw, 6px) clamp(6px, 1.5vw, 9px);
    background: var(--button-bgsecondary);
    border-radius: 9px;
    color: var(--button-textsecondary);
    margin-bottom: clamp(6px, 1.5vw, 12px);
}

.date {
    color: var(--text-grey);
    font-size: var(--font-button);
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.03em;
    margin-bottom: var(--space8);
}

.commuIcon {
    width: var(--icon-size);
    height: var(--icon-size);
    aspect-ratio: 1/1;
}

.top {
    display: flex;
    align-items: center;
    gap: var(--space8);
    margin-bottom: clamp(6px, 1.5vw, 12px);
}

.category {
    display: inline-block;
    color: var(--main-mint);

}

.tit {
    font-weight: 500;
    color: var(--text-grey);
    font-size: var(--font-button);
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.03em;
}