.listwrap {
    padding: var(--space24) var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--space16);
    border-bottom: 1px solid var(--stroke-lightE);
}

.title {
    display: flex;
    align-items: center;
    gap: clamp(16px, 2vw, 24px);
}

.subsub {
    display: flex;
    flex-direction: column;
    gap: var(--space8);
    /* max-width: calc(100% - 75px); */
    min-width: 0;
    /* 추가! */
    flex: 1 1 0%;
    /* 추가! */
}

.subsub div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.date {
    font-size: var(--font-caption);
    color: var(--text-grey);
}