.trust {
    padding: var(--space16) var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--space8);
}

.top {
    display: flex;
    align-items: center;
    gap: var(--space4);
    color: var(--text-grey);
}

.chart {
    width: 100%;
    position: relative;
}

.chart .chart_front {
    position: absolute;
    left: 0;
    top: 0;
    height: clamp(10px, 1.3vw, 15px);
    border-radius: 100px;
    background: var(--button-bgdefault);
    transition: width 0.3s;
}

.chart .chart_front img {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: clamp(24px, 5vw, 30px);
}

.chart .chart_bg {
    width: 100%;
    height: clamp(10px, 1.3vw, 15px);
    border-radius: 100px;
    background: var(--button-bgdisabled);
}