.modalBackdrop {
    position: absolute;
    inset: unset;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 1000;
}

.modalContent {
    background: var(--bg-white);
    padding: clamp(6px, 2vw, 18px) clamp(10px, 1.8vw, 16px);
    border-radius: 12px;
    border: 1px solid var(--sub-lightmint);
    box-shadow: 0px 2.8px 4.2px 0px rgba(29, 198, 167, 0.12);
    max-width: 700px;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space8);
}

.modalContent .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeBtn img {
    width: clamp(18px, 3vw, 24px);
}

.list {
    display: flex;
    align-items: center;
    gap: var(--space4);
    color: var(--text-grey);
}

.list img {
    width: clamp(20px, 3.5vw, 30px);
}

.list div {
    display: flex;
    align-items: center;
    gap: var(--space4);
    font-size: var(--font-caption);
    white-space: nowrap;
}

@media screen and (max-width: 459px) {
    .modalContent {
        gap: var(--space8);
    }

    .list div {
        gap: 0;
    }

}

@media screen and (max-width: 430px) {
    .modalContent {
        width: 95%;
    }
}