.modalBackdrop {
    position: fixed;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.4); */
    /* 영역보는 용도로 냅두기 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 일단 가운데정렬 */
    z-index: 1000;
}

.modalContent {
    background: var(--bg-white);
    padding: clamp(10px, 3.5vw, 33px) clamp(10px, 2vw, 22px);
    border-radius: 12px;
    border: 1px solid var(--sub-lightmint);
    box-shadow: 0px 2.8px 4.2px 0px rgba(29, 198, 167, 0.12);
    max-width: 1044px;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space24);
}

.modalContent .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeBtn img {
    width: clamp(18px, 3vw, 24px);
}

.list {
    display: flex;
    align-items: center;
    gap: var(--space4);
    color: var(--text-grey);
}

.list img {
    width: clamp(20px, 3.5vw, 34px);
}

.list div {
    display: flex;
    align-items: center;
    gap: var(--space4);
    font-size: var(--font-body2);
}

@media screen and (max-width: 459px) {
    .modalContent {
        gap: var(--space8);
    }

    .list div {
        font-size: var(--font-caption);
        gap: 0;
    }

}