.overlay {
  position: fixed;
  inset: 0;
  background: rgba(48, 48, 48, 0.30);
  z-index: 2001;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sheet {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: var(--bg-white);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: var(--space32) var(--space16);
  /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); */
  animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}