/* 공통 레이아웃 */
*{
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard Variable', sans-serif;
  background-color: var(--bg-white);
  color: var(--text-black);
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* tab바 position css만 여기서 변경 -종현- */
.layout header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  font-size: 1.1rem;
  height: 62px;
  box-shadow: 0px -4px 4px 0px rgba(29, 198, 167, 0.04);
  
}

.layout main {
  flex: 1;

}

.layout footer {
  text-align: center;
  padding: 20px 0;
  color: #999;
  font-size: 14px;
}



/* 반응형 레이아웃 */
@media (max-width: 768px) {
  .inner {
    padding: 0 16px;
  }
}

@media (max-width:450px) {
  .layout header {
    font-size: 1rem;
    white-space: nowrap;
    height: 60px;
  }
}